@import "theme";
@import "reset";
@import "layout";
@import "typography";
@import "buttons";
@import "card";
@import "utilities";
@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800|Montserrat:400,500,700|Roboto:100,300,400");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
}

html:focus-within {
  scroll-behavior: smooth;
}

.breadcrumbslogo {
  position: absolute;
  width: 5em;
  height: 5em;
  top: 2vh;
  left: 1vh;

}

.header {
  position: absolute;
  top: 15vh;
  left: 5vw;
  font-size: 50px;
  &.downloads {
    top: 0;
  }
}

.header .line1 {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

.header .line2 {
  padding: 0;
  color: #10A0EC;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
}

.copy {
  position: absolute;
  width: 50%;
  top: 5vh;
}

.body .line1 {
  position: absolute;
  top: 35vh;
  left: 5vw;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}



.image-background {
  position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100vh;
  background: url('https://scribr-uploads.s3.us-east-2.amazonaws.com/Frame-3+3.png') no-repeat center center;
  background-size: cover;
  z-index: -1;
  &.downloads {
    left: 10%;
    top: 11vh;
    transform: rotate(16deg);
    transform-origin: center;
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-background {
  position: relative;
  background-size: cover;
  top: 0;
  left: 0; //9% to match figma design but it makes a white box appear when you shrink the page
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.sentinel {
  cursor: pointer;
  // display: none !important;
  position: absolute;
  top: 65vh;
  display: flex;
  align-items: center;
  width: 33.3%;
  left: 8.3%;
  height: 30px;
  flex-shrink: 1;
  color: #142D51;
  text-align: center;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #6698d1;
  padding-top: 30px;
  margin-top: -10px;

  img {
    margin-left: 1vh;
    width: 2em;
    height: 3em;
    display: inline-block;
    vertical-align: middle;
  }

}

.buttons {
  display: flex;
  position: absolute;
  top: 55vh;
  width: 50%;
  justify-content: center;
  align-items: center;
  // justify-content: space-between; /* Distribute buttons evenly */
  // gap: 2vw; /* Consistent space between buttons using viewport width */
  a {
    display: inline-block;
    margin-left: 1em;
    text-decoration: none;
    color: #10A0EC;
    img {
      height:3em;
    }
  }
  &.downloads {
    top: 25vh;
    width: 80%;
    a {
      margin-right: 0.5em;
      margin-left: 0.5em;
      img {
        height:2.5em;
      }
    }
  }
}

.download-list {
  position: absolute;
  width: 50%;
  top: 30vh;
  left: 25%;
  margin-top: 3em;
  a {
    display: block;
    text-decoration: none;
    color: #10A0EC;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.35px;
    margin-bottom: 0.5em;
    p {
      display: inline-block;
      font-size: 18px;
      font-weight: 300;
      color: #898888;
    }
    &.coming-soon {
      color: #898888;
    }
  }
}


/* Individual buttons */
.button a {
  flex: 1 1 auto;
  text-align: center;
  margin: 0; /* Remove margin to rely entirely on gap for spacing */
}

.button img {
  width: clamp(100px, 20vw, 210px); 
  height: clamp(50px, 10vh, 67px); 
}


.footer {
  position: absolute;
  top: 97vh;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 61px;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.35px;
  text-transform: capitalize;
  background: none;
  z-index: 100;
  &.downloads {
    a {
      color: #373737;
      margin: 3em;
    }
  }
}

.footer a {
  color: #f9f7f7;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:first-letter {
  text-transform: capitalize;
}

.footer a.of {
  text-transform: lowercase;
}

@media screen and (width < 1278px) {

  .copy {
    // top: 6vh;
  }

  .body .line1 {
    // top: 38vh;
  }
}

@media screen and (width < 1182px) {
  .header {
    font-size: 42px;
    .line1 {
      line-height: 40px;
    }
    &.downloads {
      top: 0em;
      left: 15vw;
    }
  }
  .copy {
    // top: 5em;
  }

  .body .line1 {
    // top: 33vh;
    // font-size: 23px;
    // margin-left: -5px;
  }
  .buttons {
    // top: 36em;
  }
  .sentinel {
    // top: 60em;
    // font-size: 11px;
  }
}

@media screen and (width < 791px) {
  .copy {
    width: 100%;
  }
  .buttons {
    width: 100%;
    top: 45vh;
  }
  .download-list {
    left: 10vw;
    a {
      font-size: 20px;
      p {
        font-size: 8px;
      }
    }
  }
  .sentinel {
    width: 80%;
    left: 10%;
    top: 55vh;
    font-size: 10px;
  }
  .image-background:not(.downloads) {
    background: url('https://scribr-uploads.s3.us-east-2.amazonaws.com/iPhone_14_%26_15_Pro_-_56-5.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 3em;
  }

  .video-container{
    top: 40%;
    left: 5%;
  }
  .video-background{
    left: 0;
    position: absolute;
    background: white;
  }

  .copy {
  }

  .header:not(.downloads) {
    top: 10vh;
  }

  .header.downloads {
    top: 0vh;
    left: 25vw;
  }

  .body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .line1{
      font-weight: 400;
      top: 24vh;
      margin: 0;
      left: 5%;
      width: 80%;
      font-size: 16px;
    }
  }

  .button {
    position: absolute;
    top:clamp(40%, 40%, 60%);
    left: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
  }
  
  .button a {
    flex: 1 1 auto;
    text-align: center;
    margin: 0;
  }
  
  .button img {
    width: 100%;
    max-width: 300px; 
    height: auto; 
  }

  .footer{
    top: 98%;
    left: 12%;
    font-size: .3rem;
  }
  .footer.downloads {
    left: 0;
  }

}

@media screen and (width < 431px) {
  .header:not(.downloads) {
    top: 0vh;
    text-align: right;
    padding-right: 1em;
    .line2 {
      // text-align: left;
    }
  }
  .body{
    .line1{
    }
  }
}