@import "theme";
@import "reset";
@import "layout";
@import "typography";
@import "buttons";
@import "card";
@import "utilities";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:100,300,400");

body {
  background-color: black;
}

.homepage, .about, .privacy-policy, .downloads {
  font-family: montserrat;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 162em;
  .topnav {
    padding: 1em 2em 1em 2em;
    .title {
      vertical-align: text-bottom;
      display: inline-block;
      font-weight: bold;
      color: black;
      cursor: pointer;
      text-decoration: none;
      height: 2.5em;
    }
    .hamburger {
      display: none;
    }
    .nav-options {
      float: right;

      a {
        border-radius: 10px;
        border: white;
        padding: 1em;
        color: white;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        vertical-align: text-bottom;
        cursor: pointer;
        margin-left: 1em;
        text-decoration: none;
      }
      a:hover {
        transition: background-color 0.7s;
        background-color: grey;
      }
    }
    img {
      display: inline-block;
      height: 3em;
    }
    .hamburger-menu {
      transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
      visibility: visible;
      opacity: 1;
      &.hidden {
        visibility: hidden;
        opacity: 0;
      }
      position: absolute;
      right: 5%;
      width: 90%;
      height: max-content;
      background: black;
      z-index: 100;
      border: 1px solid #aeaeae;
      border-radius: 1em;
      .nav-options {
        a {
          display: block;
          padding: 0.5em;
          padding-right: 1em;
          text-align: left;
        }
      }
    }
    @media screen and (max-width: 856px) {
      padding: 1em;
      .nav-options {
        display: none;
      }
      .hamburger-menu {
        .nav-options {
          display: block;
          width: 100%;
          padding: 1em;
        }
        a {
          text-align: center !important;
          width: 100%;
          margin: 0;
        }
      }
      .hamburger {
        display: inline-block;
        float: right;
        padding-top: 0.5em;
        padding-right: 0.5em;
        font-size: 24px;
        cursor: pointer;
        color: white;
      }
    }
  }
  .demo-container {
    width: 38%;
    position: absolute;
    top: 3em;
    left: 0;
    padding: 5vh;
    padding-left: 13vh;
    padding-bottom: 10em;
    z-index: 99;
    .demo {
      width: 20em;
      height: 40em;
      border-radius: 1em;
      border: 1px solid #333;
      z-index: 99;
      max-width: 390px;
      max-height: 780px;
      transition: box-shadow 0.4s ease;
      &.glow {
        box-shadow: 0 0 21px 13px #23A9E1;
      }
    }
    .button {
      cursor: pointer;
      border-radius: 0.25em;
      margin-top: 1em;
      width: 18em;
      padding: 1em;
      background-color: #339aef;
      border: none;
      color: white;
      display: block;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      position: absolute;
      width: 20em;
      border-radius: 1em;
      border: 1px solid #333;
      z-index: 99;
      max-width: 390px;
      right: 5em;
      display: none;
    }
  }
  .text-container {
    text-align: right;
    width: 61%;
    position: absolute;
    top: 8em;
    right: 0;
    color: white;
    padding: 1em 5em 1em 2em;
    .title {
      text-align: right;
      font-weight: bold;
      line-height: 1.1;
      color: white;
      font-size: 65px;
      width: 100%;
      &:not(.main) {
        margin-top: 1em;
      }
    }
    .button {
      cursor: pointer;
      border-radius: 0.25em;
      margin-top: 1em;
      width: 18em;
      padding: 1em;
      background-color: #339aef;
      border: none;
      color: white;
      display: block;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      position: absolute;
      width: 20em;
      border-radius: 1em;
      border: 1px solid #333;
      z-index: 99;
      max-width: 390px;
      right: 5em;
    }
    .subtitle {
      color: white;
      text-align: right;
      font-size: 20px;
      width: 100%;
    }
    .secure-vpn {
      color: white;
    }
    .blue {
      color: #23A9E1;
    }
    .italic {
      font-style: italic;
    }
    .heavy {
      font-weight: 800;
    }
    .underline {
      text-decoration: underline;
    }
    .mobile {
      display: none;
    }
    .demo-text {
      font-size: 22px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 1100px) {
    height: 75em;
    .demo-container, .text-container {
      width: 100%;
    }
    .demo-container {
      top: 30em;
      text-align: left;
    }
  }
  @media screen and (max-width: 939px) {
    .homepage {
      width: 100%;
    }
    height: 100em;
    .demo-container {
      top: 45em;
      text-align: center;
      padding: unset;
      .button {
        display: block;
        top: 42em;
        left: calc(50% - 10em);
      }
    }
    .text-container {
      top: 3em;
      padding: 1em 2em 1em 2em;
      .button {
        display: none;
      }
    }
    .title {
      font-size: calc(5vw + 12px) !important;
      &.main {
        margin-top: 1em;
      }
    }
    .subtitle {
      font-size: calc(2vw + 12px) !important;
    }
    .demo-text {
      font-size: calc(2vw + 14px) !important;
      margin-top: 3vw;
      text-align: right !important;
      &.desktop {
        display: none !important;
      }
      &.mobile {
        display: block !important;
      }
    }
    .button {
      position: absolute;
      top: 182vh;
      width: 60%;
      left: 20%;
    }
    // .demo {
    //   width: 90vw !important;
    //   height: 180vw !important;
    // }
  }
}

.privacy-policy {
  .text-container {
    width: 82% !important;
  }
  @media screen and (max-width: 856px) {
    .text-container {
      width: 100% !important;
    }
  }
}

.about, .downloads {
  height: 100vh;
  .text-container {
    width: 62%;
    left: 0;
    .italic {
      font-style: italic;
    }
    .title, .subtitle {
      text-align: left;
    }
    &.vpn {
      right: 0;
      left: unset;
      top: 35em;
      .title, .subtitle {
        text-align: right;
      }
    }
    &.marketplace {
      top: 80em;
    }
    a {
      color: #23A9E1;
      text-decoration: none;
    }
    &.downloads-title {
      width: 80%;
      right: 10%;
      left: unset;
      a {
        cursor: pointer;
        display: block;
        margin-bottom: 1em;
        &.coming-soon {
          color: #aaa;
          cursor: default;
        }
      }
      .title, .subtitle {
        text-align: right;
      }
    }
  }
  @media screen and (max-width: 1100px) {
    .text-container:not(.downloads-title) {
      width: 100% !important;
    }
  }
  @media screen and (max-width: 856px) {
    .marketplace {
      top: 107em !important;
    }
  }
}
