@import "theme";
@import "reset";
@import "layout";
@import "typography";
@import "buttons";
@import "card";
@import "utilities";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


img, picture, svg, video {
  max-width: 100%;
  display: block;  
}

html:focus-within {
  scroll-behavior: smooth;
}

.breadcrumbslogo {
  position: absolute;
  width: 5em;
  height: 5em;
  top: 2vh;
  left: 1vh;

}

.header {
  position: absolute;
  top: 11vh;
  left: 3em;
  // width: 60%;
}

.header .line1 {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 500;
}

.header .line2 {
  margin: -25px 0 0 0;
  padding: 0;
  color: #10A0EC;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
}

.body .line1 {
  position: absolute;
  top: 11em;
  left: 2.5em;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  width: 40%;
}



// .body .line2 {
//   position: absolute;
//   top: 13em;
//   left: 2.5em;
//   color: #000;
//   font-family: Inter;
//   font-size: 24px;
//   font-style: normal;
//   font-weight: 300;
// }

// .body .line3 {
//   position: absolute;
//   top: 15em;
//   left: 2.5em;
//   color: #000;
//   font-family: Inter;
//   font-size: 24px;
//   font-style: normal;
//   font-weight: 300;
// }

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://scribr-uploads.s3.us-east-2.amazonaws.com/Frame+2.png') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.video-background {
  position: relative;
  top: 0;
  left: 9%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.sentinel {
  position: absolute;
  top: 70vh;
  left: 25vh; 
  width: 393px;
  height: 30px;
  flex-shrink: 0;
  color: #142D51;
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.96px;
  text-transform: uppercase;

  img {
    margin-left: 1vh;
    width: 2.5em;
    height: 3em;
    display: inline-block;
    vertical-align: middle;
  }
}

.playstore {
  position: fixed;
  top: 56vh ;
  left: 49vh;
}
.playstore img {
  width: 199px;  
  height: 66px;  
}

.appstore{
  position: fixed;
  top: 56vh;
  left: 22vh;

}
.footer {
  position: absolute;
  top: 98vh;
  left: 50vh;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 61px;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.35px;
  text-transform: capitalize;
  background: none;
  z-index: 100;
}

.footer a {
  color: #FFF;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:first-letter {
  text-transform: capitalize;
}

.footer a.of {
  text-transform: lowercase;
}

/* Media query for iPhone 14 Pro Max */
@media screen and (width < 450px)
{

  
  .image-background {
    background: url('https://scribr-uploads.s3.us-east-2.amazonaws.com/iPhone_14_%26_15_Pro_-_56-2.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .video-container{
    top: 40%;
    left: 5%;
  }
  .video-background{
    left: 0;
    position: absolute;
    
  }

  .header {
    margin: 0;
    padding: 0;
    top: 10%;
    left: 2em;
    font-weight: 500;
  }
  
  .header .line1{
    font-size: 2rem;
  }
  .header .line2{
    margin: -10px 0 0 0;
    padding: 0;
    font-size: 2rem;
  }

  .body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .line1{
      margin: 0;
      top: 20%;
      left: 10%;
      width: 60%;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .playstore {
    top: 39%;
    left: 57%;
    img{
      width: 76%;
      height: 72%;
    }
  }

  .appstore{
    top: 39%;
    left: 17%;
    img{
      width: 70%;
      height: auto;
    }
  }

  .sentinel {
    display: flex;
    top: 48%;
    left: 18%;
    align-items: center;
  }

  .footer{
    top: 98%;
    left: 15%;
    font-size: .3rem;
  }

  }


@media screen and (min-width: 1000px) and (max-width: 1100px)
{
  .video-background{
    left: 0;
    position: absolute;
    
  }

  .header {
    margin: 0;
    padding: 0;
    top: 10%;
    left: 2em;
  }
  
  .header .line1{
    font-size: 2rem;
  }
  .header .line2{
    margin: -25px 0 0 0;
    padding: 0;
    font-size: 2rem;
  }

  .body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .line1{
      margin: 0;
      width: 40%;
      top: 20%;
      left: 10%;
      font-size: 2rem;
    }
  }

  .playstore {
    top: 60%;
    left: 30%;
    img{
      width: 76%;
      height: 72%;
    }
  }

  .appstore{
    top: 60%;
    left: 13%;
    img{
      width: 70%;
      height: auto;
    }
  }

  .sentinel {
    display: flex;
    top: 68%;
    left: 5em;
    align-items: center;
  }

  .footer{
    top: 98%;
    left: 20%;
  }
  }
  